main {background-color: chartreuse;
margin-left: 10%;
margin-right: 0%;
font-size: 130%;
border-color: black;
border-left: 45px;
border-style: double;
}

header{font-size: 150%;
color: darkorange;
margin-left: 35%;
margin-right: 30%;
border-color: blue;
border-left: 30px;
border-style: groove;
}

footer{background-color: gold;
margin-left: 10%;
margin-right: 0%;
font-size: 130%;
border-color: rgb(250, 0, 0);
border-left: 45px;
border-style: groove;
}
